.come-back-button {
  background: #fff;
  position: fixed;
  top: 200px;
  left: -5px;
  width: 152px;
  height: 60px;
  border: 3px solid #fdb020;
  border-radius: 0 30px 30px 0;
  padding: 3px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: none;
  z-index: 300;
}

.come-back-button a {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: block;
  height: 48px;
  width: 205px;
  text-decoration: none;
  color: #000;
  max-width: 120px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
  font-size: 16px;
}